<body>
  <h1 class="title">Добро пожаловать в театр им. А.С. Агаджанян</h1>

  <div class="tabs">
    <ul>
      <li><%= link_to 'Спектакли', perfomances_path %></li>
      <li><%= link_to 'Сеансы', sessions_path %></li> 
      <li><%= link_to 'Отзывы', reviews_path %></li>
    </ul>
  </div>
</body>